.structuror.section{
  min-height:10vh;
  border: 2px dashed #028ee145;
  margin: 4px;
  padding: 4px;
}

.structuror.section:hover {
  border: 2px solid #028ee18a;
}

.builder.section{
  min-height:10vh;
  border: 2px dashed #70686645;
  margin: 4px;
  padding: 4px;
}

.builder.section:hover {
  border: 2px solid #70686645;
}
