<!-- Column Old Menu Module  -->
<div [shAttachMenu]="menu" [shMenuData]="data" class="column">
  <span #column></span>
</div>

<sh-context-menu #menu>
  <ng-template shContextMenuItem [subMenu]="nestedMenu1">
    <div>
      {{data.firstLevel[0].label}}
    </div>
  </ng-template>

  <sh-context-menu #nestedMenu1>
    <ng-template shContextMenuItem *ngFor="let item of data.secondLevel.insert">
      <div (click)="onClick($event,item.id)" >
        {{item.label}}
      </div>
    </ng-template>
  </sh-context-menu>

  <ng-template shContextMenuItem [subMenu]="nestedMenu2">
    <div>
      {{data.firstLevel[1].label}}
    </div>
  </ng-template>

  <sh-context-menu #nestedMenu2>
    <ng-template shContextMenuItem *ngFor="let item of data.secondLevel.remove" >
      <div  (click)="onClick($event,item.id)">
        {{item.label}}
      </div>
    </ng-template>
  </sh-context-menu>

</sh-context-menu>

